.create-subject-wrapper {
    background-color: var(--white);
    padding: 1em 0;
}

.create-subject-wrapper :is(input, button) {
    display: block;
    width: 100%;
    padding: 1.35em 1.45em;
    letter-spacing: 0.7px;
    border-radius: 1px;
    font-size: 0.85rem;
    font-family: var(--nunito);
    transition: 300ms ease;
    font-weight: 600;
}

.create-subject-wrapper p {
    position: relative;
    padding: 2px 2px;
    margin: 8px 0;
}

.create-subject-wrapper input {
    color: var(--black);
    outline: none;
    border-top: 2px solid var(--black);
    border-right: 3.5px solid var(--black);
    border-bottom: 3.5px solid var(--black);
    border-left: 2px solid var(--black);
    border-radius: 4px;
    background-color: var(--white);
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.create-subject-wrapper input::placeholder {
    color: var(--black);
    opacity: 1;
    transition: 300ms ease;
}

.create-subject-wrapper input:is(:hover, :focus) {
    outline: none;
    cursor: pointer;
}

.create-subject-wrapper input:is(:hover, :focus)::placeholder {
    opacity: 0;
}

.create-subject-wrapper button {
    font-weight: 700;
    margin: 8px 0;
    color: var(--black);
    background-color: var(--violet);
    border: 2px solid var(--black);
    border-radius: 4px;
}

.create-subject-wrapper button:is(:hover, :focus) {
    filter: brightness(1.1);
    outline: none;
}

.create-subject-wrapper hr {
    height: 2px;
    border: none;
    margin: 16px 0;
    outline: none;
    background-color: var(--black);
}

.create-subject-wrapper .close-btn {
    color: var(--black);
}
