@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Nunito:wght@400;600;700&family=Tilt+Neon&display=swap");

:root {
    --black: hsl(0, 0%, 0%);
    --black-100: hsl(0, 0%, 5%);
    --black-150: hsl(0, 0%, 12%);
    --black-200: hsl(0, 0%, 20%);
    --white: hsl(0, 0%, 100%);
    --grey: #ececec;
    --violet: #a5a1ff;
    --inter: "Inter";
    --nunito: "Nunito";
    --tilt-neon: "Tilt Neon";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    background-color: var(--black);
    overflow-x: hidden;
}

body {
    width: min(100%, 600px);
    padding: 0 1%;
    margin-inline: auto;
    color: var(--grey);
    background-color: var(--black);
    font-family: var(--nunito);
}

#root {
    overflow-x: hidden;
    min-height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.offset-1 {
    position: relative;
    top: 1px;
}
